:root {
    --color-grey-100: #e7e7e7;
    --color-grey-300: #f3f3f3;
    --color-grey-500: #999;
    --color-white: #fff;
    --color-black: #222;
    --color-blue-100: #c8dff1;
    --color-blue-300: #79a9ce;
    --color-blue-500: #2fa3e6;
    --font: 400 17px/1.6 "Lato", sans-serif;
    --font-sm: 0.85rem;
    --font-lg: 2rem;
    --font-bold: 700;
    --font-light: 300;
    --container-width: 750px;
    --paragraph-margin: 0.7rem;
    --section-margin: 2.2rem;
    --separator-margin: 2.4rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font: var(--font);
}

body {
    min-height: 100%;
    background: var(--color-grey-300);
    color: var(--color-black);
}

h1,
h2,
h3 {
    font-weight: var(--font-bold);
    font-size: 1rem;
}

h1,
h2 {
    letter-spacing: 1.3px;
}

h1 {
    font-size: var(--font-lg);
}

h2 {
    color: var(--color-blue-500);
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-blue-500);
}

p {
    margin-bottom: var(--paragraph-margin);
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: var(--container-width);
    background: var(--color-white);
    margin: 0 auto;
    padding: 2.3rem;
}

.contact__item {
    display: inline-block;
}

.about {
    display: flex;
    width: 100%;
    margin-bottom: var(--section-margin);
    justify-content: center;
    align-items: center;
}

.about :not(:last-child) {
    margin-right: var(--section-margin);
}

.about__profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid var(--color-blue-100);
    overflow: hidden;
}

.about__profile-image img {
    width: 100%;
}

.font-bold {
    font-weight: var(--font-bold);
}

.font-light {
    font-weight: var(--font-light);
}

.font-sm {
    font-size: var(--font-sm);
}

.text-grey {
    color: var(--color-grey-500);
}

.text-right {
    text-align: right;
}

.separator {
    display: block;
    width: 100%;
    border-top: 1px solid var(--color-grey-100);
    margin: var(--separator-margin);
}

.separator--vert {
    height: 10px;
    display: inline-flex;
    border-left: 2px solid var(--color-grey-100);
    margin: 0px 0.6rem;
}

.skill-list {
    font-size: var(--font-sm);
}

.skill-list--center {
    text-align: center;
}

.skill-list__item {
    display: inline-block;
    border: 1px solid var(--color-blue-500);
    color: var(--color-blue-500);
    border-radius: 3px;
    padding: 0 0.3rem;
    margin: 0.2rem;
}

.skill-list__item--grey {
    border-color: var(--color-grey-500);
    color: var(--color-grey-500);
}

.skill-list__item--block {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
}

.list:not(:last-child) {
    margin-bottom: 40px;
}

.list__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--section-margin);
}

.list__section :last-child {
    margin-bottom: 0;
}

.list__section--col {
    flex-direction: column;
}

.list__section-header {
    margin-bottom: var(--paragraph-margin);
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.rating__point {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--color-blue-100);
    border-radius: 50%;
}

.rating__point:not(:last-of-type) {
    margin-right: 0.6rem;
}

.rating__point--filled {
    background: var(--color-blue-500);
}

@media screen and (max-width: 750px) {
    .main__header {
        line-height: 1.2;
    }

    .contact__item {
        display: block;
    }

    .rating__point {
        display: inline-block;
        width: 15px;
        height: 15px;
    }

    .rating__point:not(:last-of-type) {
        margin-right: 0.4rem;
    }

    .hide--sm {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: var(--font-sm);
    }

    .about__profile-image {
        width: 130px;
        height: 130px;
    }
}
